{% extends 'base.html.twig' %}
{% block body %}
    <div id="head_title">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <h3>Qui sommes-nous ?</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about_section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="about_content" style="text-align: left;">
                        <p>
                            Préférant jouer la carte de la discrétion et consacrer nos investissements à la qualité et à la fiabilité de nos bus et aménagements, Bus discothèque n’a jamais été adepte des grandes campagnes publicitaires...
                            <br><br>
                            Nous construisons notre réputation par le bouche à oreille et nos clients sont indéniablement nos meilleurs représentants
                        </p>
                        <br><br>
                        <span>Bus discothèque Paris, leader incontesté et incontestable</span>
                        <br><br>
                        <p>
                            Excellence, innovation et qualité sont les trois valeurs associées à nos bus discothèque et véhiculés par nos équipes. Depuis l’origine nous nous sommes positionnés sur le haut de gamme sans jamais y déroger, aujourd’hui nous sommes les seuls à vous proposer un véritable parc de véhicules bus discothèque sur Paris
                        </p>
                        <br><br>
                        <span>Aux côtés des entreprises les plus prestigieuses</span>
                        <p>
                            Bus discotheque.com est la référence quand il s’agit d’organiser les évènements et ou transfert atypique pour conduire les personnes à travers Paris.
                            <br><br>
                            Ainsi nous ont fait confiance : Dior™, Chanel™, Louis Vuitton™, Chopard™, Shiseido™...
                            <br><br>
                            Aux côtés des personnalités : Omar Sy, Franck Abittan, Usain Bolt, Daphné Burki, David Guetta, toute l‘équipe du Paris Saint-Germain, Sylvain Armand, Franck Gastambide, Mister V, Patrick Bruel etc…
                            <br><br>
                            Aux côtés des grandes émissions : TPMP™, RMC™, BFM™, Canal+™, TraceTV™, M6™, France2™, Paris 1er™
                            <br><br>
                            Mais Aussi aux cotés des maman et papa : Mme Azoulay, Mme Levy, Abecassis, etc...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}