{% extends 'base.html.twig' %}
{% block body %}
    <div class="slider_area slider_black owl-carousel">
        <div class="single_slider" data-bgimg="{{ asset('/build/images/news/news1.jpg') }}">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="slider_content">
                            <p> Préparez vos fêtes </p>
                            <h1> de fin d'année </h1>
                            <span> EN BUSDISCOTHEQUE </span>
                            <p class="slider_price">Dès <span>39€ / Pers</span></p>
                            <a class="button" href="{{ path('reservation') }}">RÉSERVER UN BUS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider" data-bgimg="{{ asset('/build/images/news/news2.jpg') }}">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="slider_content">
                            <a class="button" href="https://www.poowood.com" target="_blank">POOWOOD.COM</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider" data-bgimg="{{ asset('build/images/news/news3.jpg') }}">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="slider_content">
                            <a class="button" href="https://www.puddy-b.com" target="_blank">PUDDY-B.COM</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about_section">
        <div class="container">
            <div class="row align-items-center product_section p_section1 product_black_section">
                <div class="col-12 product_area">
                    <div class="about_content">
                        <span>Les Nouveautés <strong>busdiscotheque.com</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}