{% extends 'base.html.twig' %}
{% block body %}
    <div id="head_title">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <h3>Nos Bus</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="about_section">
        <div class="container">
            <div class="row align-items-center product_section p_section1 product_black_section">
                <div class="col-12 product_area">
                    <div class="product_tab_button">
                        <ul class="nav" role="tablist">
                            <li><a {% if current_page == 'bus_mini' %}class="active"{% endif %} href="{{ path("bus_mini") }}">Nos Minis Bus</a></li>
                            <li><a {% if current_page == 'bus_simple' %}class="active"{% endif %} href="{{ path("bus_simple") }}">Nos Bus Simples</a></li>
                            <li><a {% if current_page == 'bus_double' %}class="active"{% endif %} href="{{ path("bus_double") }}">Nos Bus Doubles</a></li>
                        </ul>
                    </div>
                    <div class="product_container">
                        <div class="custom-row">
                            {% block bus_row %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}