{% extends 'base.html.twig' %}
{% block body %}
    <div id="head_title">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <h3>{% trans %}services en option{% endtrans %}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="our_services">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="services_item">
                        <div class="services_icone">
                            <img src="{{ asset('build/images/icon/ico-stock.svg') }}" class="ico" alt="icone stock"/>
                        </div>
                        <div class="services_desc">
                            <h3>STOCK MOBILE SERVICE</h3>
                            <p>
                                {% trans %}Pour ne manquer de rien lors de votre évènement, notre véhicule de stock vous réapprovisione en consommable tout au long de votre sortie.<br>
                                <i>Mise en place uniquement sur décision du service logistique</i>{% endtrans %}
                                <br>

                            </p>
                            <div class="advantages_button small">
                                <a href="#" data-toggle="modal" data-target="#modal-stock" data-placement="top" data-original-title="Voir les modèles" tabindex="0">{% trans %}Détails{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services_item">
                        <div class="services_icone">
                            <img src="{{ asset('build/images/icon/ico-deluxe.svg') }}" class="ico" alt="icone deluxe"/>
                        </div>
                        <div class="services_desc">
                            <h3>DELUXE MOBILE SERVICE</h3>
                            <p>
                                {% trans %}Pour une maitrise parfaite de la chaine du froid, faites-nous livrer vos boissons et/ou traiteur avant votre évènement. <br>
                                Nous vous garantissons une fraicheur optimale avec notre véhicule frigorifique qui réapprovisionne en permanence nos busdiscotheques<br>
                                <i>Mise en place uniquement sur décision du service logistique</i>{% endtrans %}
                                <br>
                            </p>
                            <div class="advantages_button small">
                                <a href="#" data-toggle="modal" data-target="#modal-deluxe" data-placement="top" data-original-title="Voir les modèles" tabindex="0">{% trans %}Détails{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services_item">
                        <div class="services_icone">
                            <img src="{{ asset('build/images/icon/ico-tof.png') }}" class="ico" alt="icone photographe"/>
                        </div>
                        <div class="services_desc">
                            <h3>{% trans %}PHOTOGRAPHE{% endtrans %}*</h3>
                            <p>
                                {% trans %}Souriez, posez, seul ou à plusieurs, notre photographe sera présent pour immortaliser le moment !<br>
                                *Prestation valable selon la disponibilité de nos photographes.{% endtrans %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services_item">
                        <div class="services_icone">
                            <img src="{{ asset('build/images/icon/ico-bouchon.png') }}" class="ico" alt="icone traiteur"/>
                        </div>
                        <div class="services_desc">
                            <h3>{% trans %}TRAITEUR &amp; ALCOOL{% endtrans %}*</h3>
                            <p>
                                {% trans %}Vin, Champagne, Bière... ?<br>
                                A tarifs compétifis, demandez-nous la fourniture de vos boissons pour votre événement. Nous vous concocterons un devis adapté / personne.<br>
                                *L'abus d'alcool est dangereux pour la santé. Consommez avec modération.{% endtrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}