// Colours variables
$white:#FFF;
$lightergrey:#EBEBEB;
$lightgrey:#A0A0A0;
$grey:#5A5A5A;
$bggrey:#242424;
$darkgrey:#2D2D2D;
$black:#000;
$copper:#C09578;
$gold:#D4B472;
$darkgold:#A8741A;

// Responsive Variables
$extraBig-device : 'only screen and (min-w idth: 1600px)';
$laptop-device : 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$desktop-device : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$tablet-device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large-mobile:'only screen and (max-width: 767px)';
$small-mobile: 'only screen and (max-width: 479px)';

//Fonts variables
$Rubik:'Rubik', sans-serif;
$Playfair:'Playfair Display', serif;
$Prata:'Prata', serif;
