<footer class="footer_widgets footer_black">
    <div class="container">
        <div class="footer_top">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8">
                    <div class="widgets_container contact_us">
                        <h3>Contacts</h3>
                        <div class="footer_contact">
                            <p>
                                <small>Nous nous efforçons de répondre à vos demandes dans l'heure.</small><br>
                                Location de Bus Discothèque de luxe pour tous vos événements :<br>
                                <span><a href="mailto:commercial@busdiscotheque.com">commercial @ busdiscotheque.com</a><br></span>
                                <span><a href="tel:+33142798549">01.42.79.85.49</a><br> </span>
                                <span><small>Du lundi au samedi de 9h à 19h</small><br> </span>
                                <i class="fa fa-info"></i> <a href="mailto:commercial@busdiscotheque.com">RDV dans notre bureau en Ile-de-France sur demande</a>
                                <br><br>
                                <a href="?p=reservation" class="button">Demander un Tarif</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-5">
                    <div class="widgets_container widget_menu">
                        <h3>Plan du Site</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="?p=roadvertising">Roadvertising</a>
                                </li><li><a href="?p=parcours">Parcours</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-5">
                    <div class="widgets_container widget_menu">
                        <h3>A propos</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#" data-toggle="modal" data-target="#modal-one" data-placement="top" data-original-title="Quelques Références" tabindex="0">CGV</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#modal-carton" data-placement="top" data-original-title="Quelques Références" tabindex="0">Cartons d'invitation</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#modal-three" data-placement="top" data-original-title="Quelques Références" tabindex="0">Mentions légales</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#modal-five" data-placement="top" data-original-title="Quelques Références" tabindex="0">Quelques Références</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#modal-stock" data-placement="top" data-original-title="Quelques Références" tabindex="0">Stock Mobile Service</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#modal-deluxe" data-placement="top" data-original-title="Quelques Références" tabindex="0">Deluxe Mobile Service</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="row">
                <div class="col-12">
                    <div class="question_area">
                        <p>
                            <small>
                                <a href="?p=bus/-location-soiree-bus-paris" title="Location de soirée bus à Paris">
                                    Location de soiree bus paris
                                </a>
                                <a href="?p=bus/-soiree-bus-a-paris-garantie" title="Votre soirée bus à bord de nos bus discotheque à Paris garantie.">
                                    Soirée Bus à Paris garantie
                                </a>
                                <a href="?p=bus/-experience-de-location-bus" title="Notre expérience de location de bus boite de nuit">
                                    Location de bus boite de nuit
                                </a>
                                <a href="?p=bus/-notre-parc-de-discobus" title="Le parc de discobus de busdiscotheque.com">
                                    Notre parc de discobus
                                </a>
                                <a href="?p=bus/-pourquoi-louer-un-busdiscotheque" title="Pourquoi louer un busdiscotheque pour un anniversaire en soirée bus">
                                    Pourquoi louer un busdiscotheque
                                </a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>